################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/leetCode.vcxproj.user
/leetCode.vcxproj.filters
/leetCode.vcxproj
/leetCode.sln
/Debug/leetCode.tlog
/Debug
/.vs/leetCode/v15
